.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.tsv
*.table*
*.gz
*.txt
*.csv
*.zip
*.html
*.docx
*.tex
*.png
*.pdf
*.svg
/results/figures/map_uganda_files
/data/R_PhD_Data_corrected.xlsx
/data/R_PhD_Data_corrected2.xlsx